//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 01 14:49:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P40" LEVEL 1;
COMP "chronToClock" LOCATE = SITE "P15" LEVEL 1;
COMP "SevenSegBusMod<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "SevenSegBusMod<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "SevenSegBusMod<2>" LOCATE = SITE "P98" LEVEL 1;
COMP "SevenSegBusMod<3>" LOCATE = SITE "P73" LEVEL 1;
COMP "SevenSegBusMod<4>" LOCATE = SITE "P72" LEVEL 1;
COMP "SevenSegBusMod<5>" LOCATE = SITE "P65" LEVEL 1;
COMP "SevenSegBusMod<6>" LOCATE = SITE "P62" LEVEL 1;
COMP "SevenSegBusMod<7>" LOCATE = SITE "P71" LEVEL 1;
COMP "pause" LOCATE = SITE "P33" LEVEL 1;
COMP "reset" LOCATE = SITE "P34" LEVEL 1;
COMP "SevenSegControlMod<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "SevenSegControlMod<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "SevenSegControlMod<2>" LOCATE = SITE "P52" LEVEL 1;
COMP "SevenSegControlMod<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "SevenSegControlMod<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "SevenSegControlMod<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SevenSegControlMod<6>" LOCATE = SITE "P60" LEVEL 1;
COMP "SevenSegControlMod<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "downward" LOCATE = SITE "P12" LEVEL 1;
SCHEMATIC END;

